<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 th:object="${task}" th:text="${'Tarea: ' + task.title}"></h1>
<table>
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Título
        </th>
        <th>
            Descripción
        </th>
        <th>
            Estado
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Hora de creación
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${task}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.state}"></td>
        <td th:text="${task.creationDate}"></td>
        <td th:text="${task.creationTime}"></td>
        <td>
    </tr>
    </tbody>
</table>
</body>
</html>